<div class="principal">
    <app-carrusel></app-carrusel>
    <div class="principal-elementos">
        <div class="contenido" *ngFor="let elemento of elementos">
            <div class="elemento">
                <div>
                    <img [src]="elemento.img" alt="Imagen de {{elemento.texto}}">
                </div>
                <p>{{elemento.texto}}</p>
            </div>
        </div>
    </div>
    <div class="conocenos">
        <div class="logo2">
          <img src="../../../assets/iconos/Captura3.png" alt="Logo">
        </div>
        <div class="contenido2">
          <h2>CONÓCENOS</h2>
          <p>
            Somos un equipo de personas impulsadas por la empatía hacia los animales,
            reconociéndolos como nuestros semejantes debido a su capacidad para experimentar
            placer, alegría, dolor y sufrimiento.
          </p>
          <a href="/nosotros" class="boton">VER MÁS</a>
        </div>
    </div>

    <div class="adopta">
        <img src="../../../assets/animales/Captura4.jpg" alt="Adopta">
        <div class="adopta-texto">
          <h2>ADOPTÁ</h2>
          <p>
            Al pensar en adoptar, es crucial tener en cuenta diversos factores para garantizar 
            una convivencia armoniosa. Evaluá el espacio disponible en tu hogar, el tiempo que 
            podés dedicar al juego y paseo, así como los costos asociados con la alimentación, 
            atención veterinaria y cuidado durante las vacaciones. Asegurate de que tu elección 
            de mascota se ajuste a tu estilo de vida y a la cantidad de tiempo que podés comprometer.
          </p>
          <a href="/adopta" class="boton">ADOPTAR</a>
        </div>
      </div>
      
      
</div>

