<div class="contacto">
    <div class="main-contacto">
        <div class="contenido">
            <div>
                <img src="../../../assets/contacto/perroTelefono.jpg" alt="perrito con telefono" srcset="">
                <p>texto de contacto</p>
            </div>
        </div>
        <div class="formulario">
            <form [formGroup]="formulario" (submit)="onSubmit()">
                <label for="name">Nombre:</label>
                <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" formControlName="email"required>
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="button" (click)="guardar()">guardar</button>
                <button type="submit" [disabled]="formulario.invalid">Enviar</button>
            </form>
        </div>
    
    </div>
    </div>
