<div class="contacto">
  <div class="contacto-imagen">
    <img src="../../../assets/estaticas/Contacto2.jpg" alt="Contacto">
  </div> 
  <div class="main-contacto">
    <div class="contenido">
      <div>
        <p>Si tenés alguna duda sobre el proceso de adopción, crianza responsable o cualquier otro asunto que te podamos ayudar, contactános!</p>
        <img src="../../../assets/contacto/perroContacto.png" alt="perrito con telefono">
      </div>
    </div>
    <div class="formulario">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <label for="nombreApellido">Nombre y apellido:</label>
        <input type="text" id="nombreApellido" formControlName="nombreApellido"
          [ngClass]="{'input-error': formulario.get('nombreApellido')?.invalid && formulario.get('nombreApellido')?.touched}">
        
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"
          [ngClass]="{'input-error': formulario.get('email')?.invalid && formulario.get('email')?.touched}">
        
        <label for="whatsapp">Whatsapp:</label>
        <input id="whatsapp" formControlName="whatsapp"
          [ngClass]="{'input-error': formulario.get('whatsapp')?.invalid && formulario.get('whatsapp')?.touched}">
        
        <label for="consulta">Consulta:</label>
        <textarea id="consulta" formControlName="consulta"
          [ngClass]="{'input-error': formulario.get('consulta')?.invalid && formulario.get('consulta')?.touched}"></textarea>
        
        <button type="submit" class="btn-enviar" [disabled]="!formulario.valid">Enviar</button>
      </form>
    </div>
  </div>
</div>
