<footer class="footer">  
    <div class="footer-content">
        <div class="div-email">
            <p>&copy; 2024 Nuestra ONG. Todos los derechos reservados. Y los izquierdos también.</p>
            <!--En vez de agregar el arroba en el mail, se agrego &#64 porque sino generaba error-->
            <a href="mailto:contacto&#64;nuestraong.org">contacto&#64;nuestraong.org</a>
            <p>Buenos Aires - Argentina</p>
        </div>
        <div class="social-icons">
            <p>Encontranos en las redes:</p>
            <a href="#" target="_blank"><img src="assets/iconos/facebook.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="assets/iconos/instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>