/* ===== Estilos del Header ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
  }
  
  .logo img{
   height: 5rem; /* Ajusta el tamaño del logo */
    width: auto;
  }

  .login{
    height: 40px;
    width: 40px;
    position: relative;

  }