/* ===== Estilos del Header ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2rem;
    min-width: 100vw;
  }
  
  .logo img{
    height: auto; /* Ajusta el tamaño del logo */
    width: auto;
  }

  .login{
    height: 40px;
    width: 40px;
    position: relative;

  }