/* Contenedor principal que envuelve todo */
.nosotros {
  position: relative;
  width: 100%;
  background-color: #e5cae5;
}

.nosotros-imagen{
  
  position: relative;
 
}.nosotros-imagen img{
  min-width:auto;
  height:80vh;
  width: 99vw;
  display: block;
}


.principal{
  width: 85%;
  margin: auto;
}