<div class="nosotros">
    <div class="nosotros-imagen">
        <img src="../../../assets/estaticas/nosotros.jpg" alt="Nosotros" srcset="">
    </div>
    <div class="principal">
        <p>En Voluntarias Animalistas Necochea trabajamos con pasión y compromiso para proteger y rescatar animales en
            situación de calle, especialmente perros. Nuestro objetivo es brindarles una segunda oportunidad a través de
            cuidados temporales, atención veterinaria y la búsqueda de hogares responsables. Desde hace más de 10 años,
            hemos transformado la vida de innumerables animales y familias, promoviendo la adopción, la conciencia sobre
            la castración y el cuidado responsable. Nos mueve la empatía, la responsabilidad social y la convicción de
            construir una comunidad más consciente y solidaria. Creemos en el poder del trabajo en equipo, la
            colaboración con otras organizaciones y el apoyo de la comunidad para seguir haciendo la diferencia. ¡Únete
            a nuestra misión y sé parte del cambio!</p>
        <p>En nuestra labor diaria, enfrentamos desafíos que nos impulsan a ser creativos y resilientes, siempre con el bienestar animal como prioridad. Nos dedicamos no solo a rescatar y cuidar a los animales, sino también a educar a la comunidad sobre la importancia de la tenencia responsable. Creemos firmemente que cada acción, por pequeña que sea, puede marcar una gran diferencia en la vida de un animal necesitado.
            A lo largo de los años, hemos tejido una red de voluntarios, hogares de tránsito y colaboradores que comparten nuestra pasión y visión. Gracias a ellos, podemos garantizar que cada animal rescatado reciba el cuidado, el amor y la dignidad que merece mientras espera su oportunidad de encontrar un hogar definitivo.
            Además de los rescates y adopciones, organizamos campañas de castración masiva, jornadas de vacunación y charlas informativas para promover la salud animal y evitar el abandono. Cada perro rescatado lleva consigo una historia de superación que nos inspira a seguir adelante.
            Estamos convencidos de que la protección animal es una responsabilidad compartida, y juntos podemos construir un mundo donde ningún animal sufra el abandono o el maltrato. Si deseas ayudarnos a transformar más vidas, hay muchas maneras de colaborar: desde donaciones hasta ser hogar de tránsito, participar en nuestras actividades o simplemente difundir nuestro trabajo.
            En Voluntarias Animalistas Necochea, creemos que cada vida cuenta. ¡Gracias por formar parte de este camino y ayudarnos a darles a los animales la vida que merecen!</p>
    </div>
</div>