<div class="nosotros">
    <div class="seccion-imagen">

        <img src="../../../assets/animales/nosotros.jpg" alt="" srcset="">

    </div>
    <div class="principal">
        <p>En Voluntarias Animalistas Necochea trabajamos con pasión y compromiso para proteger y rescatar animales en
            situación de calle, especialmente perros. Nuestro objetivo es brindarles una segunda oportunidad a través de
            cuidados temporales, atención veterinaria y la búsqueda de hogares responsables. Desde hace más de 10 años,
            hemos transformado la vida de innumerables animales y familias, promoviendo la adopción, la conciencia sobre
            la castración y el cuidado responsable. Nos mueve la empatía, la responsabilidad social y la convicción de
            construir una comunidad más consciente y solidaria. Creemos en el poder del trabajo en equipo, la
            colaboración con otras organizaciones y el apoyo de la comunidad para seguir haciendo la diferencia. ¡Únete
            a nuestra misión y sé parte del cambio!</p>
    </div>
</div>