<div class="main-nav">
  <div class="boton-encabezado">
    <button class="hamburgesa" (click)="toggleMenu()">
      ☰
    </button>
  </div>
  <nav [class.active]="isMenuActive" class="menu">
      <ul>
        <li>
          <a [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio</a>
        </li>
        <li>
          <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active">Nuestra Historia</a>
        </li>
        <li>
          <a [routerLink]="['/amiguitos']" routerLinkActive="router-link-active">Amiguitos</a>
        </li>
        <li>
          <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
        </li>
      </ul>
    </nav>
</div>