<div class="main-nav">
  <div class="boton-encabezado">
    <button class="hamburgesa" (click)="toggleMenu()">
      ☰
    </button>
  </div>
  <div class="sub-nav">

    <nav [class.active]="isMenuActive" class="menu">
      <ul>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">HOME</a>
        </li>
        <li>
          <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active">NOSOTROS</a>
        </li>
        <li>
          <a [routerLink]="['/adopta']" routerLinkActive="router-link-active">ADOPTA</a>
        </li>
        <li>
          <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <div class="boton-login">
      <button class="login">
        <img src="../../../images/iconos/LOGIN.png" alt="loguin" srcset="">
      </button>
    </div>

  </div>
</div>