.menu-encabezado {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #333;
}

.hamburgesa {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 50vh;
    background-color: #444;
    color: white;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.menu ul {
    margin-top: 50px;
}

.menu li {
    margin: 20px 0;
    text-align: center;
}

.menu a {
    color: white;
    font-size: 18px;
    transition: color 0.2s ease;
}

.menu a:hover {
    color: #f0a500;
}

.menu.active {
    margin: 2px;
    position: relative;
    right: 0;
}