.adopta {
  width: 100%;
  background-color: #e5cae5;
}

.adoptaImagen img {
  width: 100%; /* Ancho total de la pantalla */
  height: 80vh; /* Altura fija */
  object-fit: cover; /* Imagen llena el contenedor */
  display: block;
}

.animales {
  padding-top: 50px;
  padding-bottom: 100px;
  padding: 30px;
  display: flex; /* Alinea los elementos en una fila */
  flex-wrap: wrap; /* Permite que bajen a otra fila si no hay suficiente espacio */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 75px; /* Espaciado uniforme entre elementos */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  box-sizing: border-box;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea los elementos al inicio del eje vertical */
  max-width: 400px; /* Tamaño máximo para cada elemento */
  height: auto; /* Altura automática para que el contenido ajuste su altura */
  box-sizing: border-box;
}
.elemento {
  margin-bottom: 50px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 400px; /* Ancho máximo para cada elemento */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido hacia el inicio del contenedor */
  align-items: center;
  overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
  border-radius: 10px;
  box-sizing: border-box;
}

.elemento img {
  border-radius: 10px;
  width: 300px; /* Las imágenes ocuparán todo el ancho del contenedor */
  height: 300px; /* Fijamos una altura consistente para todas las imágenes */
  object-fit: cover; /* Asegura que las imágenes llenen el contenedor sin deformarse */
}

.info {
  text-align: left;
  margin-top: 15px;
}

.info h2{
  color: #4F266A;
  font-weight: 500;
}

span, .info p{
 font-size: 25px;
 color: black !important;
}

.img-animal img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
  transition: transform 0.3s ease, object-position 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en las imágenes */
.img-animal:hover img {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen */
  object-position: center; /* Ajusta el enfoque al centro */
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5); /* Profundidad */
  z-index: 10; /* Trae la imagen al frente */
}


