<div class="adopta">
    <div class="adoptaImagen">
        <img src="../../../assets/estaticas/adopta.jpg" alt="Adopta">
    </div>

    <div class="animales">
        <!-- Renderiza los elementos dinámicamente -->
        <div class="contenido" *ngFor="let animal of elementosLimitados">
            <div class="elemento">
                <div class="img-animal">
                    <img [src]="animal.imagen" alt="{{animal.nombre}}">
                </div>

                <div class="info">
                    <h2>Nombre: <span>{{animal.nombre}}</span></h2>
                    <h2>Tipo: <span>{{animal.tipo}}</span></h2>
                    <h2>Edad: <span>{{animal.edad}}</span></h2>
                    <h2>Género: <span>{{animal.genero}}</span></h2>
                    <h2>Estado: <span>{{animal.estado}}</span></h2>
                    <div *ngIf="isLoggedIn; else loggedOut">
                        <a target="_blank" href="https://huachitos.cl/animal/300-flaco">Ver Fuente</a>
                      </div>
                      <ng-template #loggedOut>
                        <p>Para adoptar <button type="button" class="boton" (click)="goToLoggin()">iniciar sesion</button></p>
                      </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>