.adopta {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.adoptaImagen img{
  height: 60vh;
  width: 100vw;
  object-fit: contain;
}
.elemento img{
  height: 50%;
  width: 50%;
}
.animales{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}


.elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;;
  height: 300px;
  
}

.elemento img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.adopta .animales .elemento .info {
  text-align:left; /* Centra el texto debajo de cada imagen */
}


.info h1, .info h2, .info h3, .info p {
  margin: 5px 0;
}
